{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/about.css')}}">
{% endblock stylesheets %}

{% block body %}
    <section class="container">
        <article>
            <h1>ABOUT OUR ORGANIZATION</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, esse reiciendis. Magnam labore doloremque aliquid beatae ut eveniet illo dicta
                cupiditate quasi, consequuntur quos expedita. Sint quasi asperiores sapiente quo cupiditate fugiat laudantium illum in iusto doloremque animi quaerat
                ea molestias, necessitatibus vitae vel nam eum et error facere minima.
            </p>

            <br>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem laboriosam
                veritatis doloremque eligendi adipisicing elit. Alias voluptatem optio error libero, eius impedit odio neque beatae eos tempora eligendi eum
                molestias qui modi placeat veniam vitae minus facilis aut quod? Repudiandae facere recusandae maiores rerum culpa. Non rerum eveniet sed pariatur?
                Eum, tempora repellendus architecto rerum quam et.
            </p>
        </article>

        <article>
            <h2>JOIN OUR CLUB</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, recusandae?
            </p>
            <button class="btn-tertiary">Join now</button>
        </article>
    </section>
{% endblock %}
