{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="container">
        <a class="underline-hover" href="{{ path('articles') }}">
            <i class="fa-solid fa-chevron-left"></i>
            Articles list
        </a>

        <h1>Edit Article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/q1svp1lkl02amt6usw2mkplc0oyimvr6sbl2lxgb5hqxec6h/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        
    </script>
{% endblock %}
