{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">
        <a class="underline-hover" href="{{ path('articles') }}">
            <i class="fa-solid fa-chevron-left"></i>
            Articles
        </a>

        <h1>Create new Article</h1>

        {{ include('article/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/q1svp1lkl02amt6usw2mkplc0oyimvr6sbl2lxgb5hqxec6h/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#article_description',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
            height: 300
        });

        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();

            var editorData = tinymce.get('article_description').getContent();

            if (!editorData.trim()) {
                alert('Please enter the description.');
                return;
            }

            this.submit();
        });
    </script>
{% endblock %}
